{% extends "inc/base.html" %}

{% block titulo %}
    Usuários
{% endblock %}

{% block conteudo %}
<table border='1'>
    <tr>
        {#<th>id</th>#}
        <th>Nome</th>
        <th>Admin</th>
        <th>Ativo</th>
        <th>Ação</th>
    </tr>
    {% for usuario in usuarios %}
    <tr>
        {#<td>{{usuario.id}}</td>#}
        <td><a href="/usuario_ver/{{usuario.id}}">{{usuario.nome}}</a></td>
        <td>{{usuario.admin}}</td>
        <td>{{usuario.ativo}}</td>
        <td><a href="/usuario_apagar/{{usuario.id}}">Apagar</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}