{% extends "inc/base.html" %}

{% block titulo %}
    Usuários
{% endblock %}

{% block conteudo %}
<table class='w-full border-collapse border border-gray-200 bg-white text-left text-lg text-gray-500'>
    <thead class='bg-gray-50'>
        <tr>
            {#<th>id</th>#}
            <th class="px-6 py-4 font-medium text-gray-900">Nome</th>
            <th class="px-6 py-4 font-medium text-gray-900">Admin</th>
            <th class="px-6 py-4 font-medium text-gray-900">Ativo</th>
            <th class="px-6 py-4 font-medium text-gray-900">Ação</th>
        </tr>
    </thead>
    <tbody class="divide-y divide-gray-100 border-t border-gray-100">
    {% for usuario in usuarios %}
        <tr>
            {#<td>{{usuario.id}}</td>#}
            <td class="px-6 py-4 font-medium text-gray-900"><a href="/usuario_ver/{{usuario.id}}">{{usuario.nome}}</a></td>
            <td class="px-6 py-4">{{usuario.admin ? '
  <span class="rounded-full bg-green-50 px-3 py-1 text-sm font-semibold text-green-600"> Sim </span>' : '
  <span class="rounded-full bg-red-50 px-3 py-1 text-sm font-semibold text-red-600"> Não </span>'}}</td>
            <td class="px-6 py-4">{{usuario.ativo ? '
  <span class="rounded-full bg-green-50 px-3 py-1 text-sm font-semibold text-green-600"> Sim </span>' : '
  <span class="rounded-full bg-red-50 px-3 py-1 text-sm font-semibold text-red-600"> Não </span>'}}</td>
            <td class="px-6 py-4"><a href="/usuario_apagar/{{usuario.id}}" class="text-primary-700">
  <button type="button" class="rounded-lg border border-red-500 bg-red-500 px-5 py-2.5 text-center text-sm font-medium text-white shadow-sm transition-all hover:border-red-700 hover:bg-red-700 focus:ring focus:ring-red-200 disabled:cursor-not-allowed disabled:border-red-300 disabled:bg-red-300">Apagar</button>
            </a></td>
        </tr>
    {% endfor %}
    </tbody>
</table><a href="/novo_usuario">
  <button type="button" class="rounded-lg border border-purple-500 bg-purple-500 px-5 py-2.5 text-center text-sm font-medium text-white shadow-sm transition-all hover:border-purplu-700 hover:bg-purple-700 focus:ring focus:ring-purple-200 disabled:cursor-not-allowed disabled:border-violet-300 disabled:bg-violet-300">Adicionar usuário</button>
</a>
{% endblock %}