{% include "/inc/head.html" %}
<table border='1'>
    <tr>
        {#<th>id</th>#}
        <th>Nome</th>
        <th>Email</th>
        <th>Username</th>
        <th>Senha</th>
        <th>Admin</th>
        <th>Ativo</th>
    </tr>
    <tr>
        {#<td>{{usuario.id}}</td>#}
        <td>{{usuario.nome}}</td>
        <td>{{usuario.email}}</td>
        <td>{{usuario.username}}</td>
        <td>{{usuario.senha}}</td>
        <td>{{usuario.admin}}</td>
        <td>{{usuario.ativo}}</td>
    </tr>
</table>